.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

h1 {
  color: white;
  padding-left: 15px;
}

.mainContainer {
  background-color: rgb(151, 168, 103);
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 1300px;
  height: 815px;
  border-radius: 15px 15px 7px 7px;
}

.buttonsContainer {
  display: flex;
  flex-flow: wrap;
  margin-right: 10px;
  padding-bottom: 670px;
  padding-top: 10px;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  border-style: dashed;
  border-width: 5px;
  border-color: white;
  background-color: darkkhaki;
  justify-content: center;
}

.mainPanel {
  display: flex;
  flex-direction: row;
  height: 800px;
  padding: 10px;
}

.canvasContainer {
  position: relative;
  width: 100%;
  height: 780px;
  border-style: dashed;
  border-radius: 5px;
  border-color: white;
  border-width: 5px;
}

.canvasUISpace {
  position: absolute;
  width: 300px;
  height: 400px;
  margin-left: 195px;
  margin-top: 6px;
  pointer-events: none;
}

.panelButton {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  background-color: darkgray;
  border-width: 3px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 7px;
}

.panelButton:hover {
  background-color: darkolivegreen;
}

.panelButton:active {
  background-color: black;
}

.statusField {
  width: 128px;
  height: 60px;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  background-color: darkolivegreen;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-width: 3px;
  margin: 7px;
}

.testImageContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.testImage {
  height: 70px;
}